<!DOCTYPE html>
<html>
  <head>
    <title>Diagnose Your Health</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="content">
      <h1>Diagnose Your Health</h1>
      <form method="post">
        <label>Pregnancies</label><input type="text" name="pregnancies" />
        <label>Glucose</label><input type="text" name="glucose" />
        <label>Blood Pressure</label
        ><input type="text" name="blood_pressure" />
        <label>Skin Thickness</label
        ><input type="text" name="skin_thickness" /> <label>Insulin</label
        ><input type="text" name="insulin" /> <label>BMI</label
        ><input type="text" name="bmi" />
        <label>Diabetes Pedigree Function</label
        ><input type="text" name="diabetes_pedigree_function" />
        <label>Age</label><input type="text" name="age" />
        <button type="submit">Diagnose</button>
      </form>
      {% if result %}
      <div class="result">
        <h1>{{ result }}</h1>
        <!-- <p>Accuracy: {{ accuracy }}</p> -->
        <button onclick="window.location.href='{{ url_for('index') }}'">
          Close
        </button>
      </div>
      {% endif %}
    </div>
  </body>
</html>
