<!DOCTYPE html>
<html>
  <head>
    <title>Diabetes Diagnosis</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="static/particle.js" defer></script>
  </head>
  <body>
    <div
      id="particles-js"
      style="position: absolute; width: 100%; height: 100%"
    ></div>
    <div class="container" style="position: relative; z-index: 1">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/templates/svm.html">SVM</a></li>
          <li><a href="/templates/decision_tree.html">Decision Tree</a></li>
          <li><a href="/templates/knn.html">KNN</a></li>
          <li><a href="/templates/random_forest.html">Random Forest</a></li>
        </ul>
      </nav>
      <div class="content1">
        <h1>About Diabetes</h1>
        <p>
          Diabetes is a chronic condition characterized by elevated levels of
          blood sugar (glucose).<br />
          It occurs when the body either doesn't produce enough insulin or
          cannot effectively use the insulin it produces.<br />
          Insulin, a hormone produced by the pancreas, helps regulate blood
          sugar levels and allows cells to utilize glucose for energy.<br />

          <br />
          <br />
        </p>

        <h2>Types of Diabetes:</h2>

        <h3>Type 1 Diabetes:</h3>
        <p>
          Often diagnosed in children and young adults, Type 1 diabetes is an
          autoimmune condition where the immune system attacks and destroys
          insulin-producing cells in the pancreas. Management involves daily
          insulin injections or pump use.
        </p>
        <br />

        <h3>Type 2 Diabetes:</h3>
        <p>
          More common in adults, Type 2 diabetes develops when the body becomes
          resistant to insulin or doesn't produce enough insulin. It can often
          be managed with lifestyle changes like diet and exercise, along with
          medications and sometimes insulin therapy. Gestational Diabetes:
          Occurring during pregnancy, this type of diabetes increases the risk
          of complications for both mother and baby. It usually resolves after
          childbirth but increases the risk of developing Type 2 diabetes later
          in life.
        </p>
        <br />
        <h3>Symptoms of Diabetes:</h3>

        <p>
          Common symptoms include frequent urination, increased thirst, extreme
          hunger, unexplained weight loss, fatigue, blurred vision, and slow
          wound healing. Early detection and management are crucial to
          preventing complications.
        </p>

        <h3>Complications of Diabetes:</h3>

        <p>
          Left untreated or poorly managed, diabetes can lead to serious health
          complications such as cardiovascular disease, kidney damage, nerve
          damage, and eye damage. However, with proper care, people with
          diabetes can live healthy, active lives.
        </p>

        <h3>Managing Diabetes:</h3>

        <p>
          Effective management includes monitoring blood sugar levels, adopting
          a healthy diet, engaging in regular physical activity, taking
          medications as prescribed, and regular check-ups with healthcare
          providers.
        </p>
      </div>
    </div>
  </body>
</html>
