<!DOCTYPE html>
<html>
  <head>
    <title>KNN - Diabetes Diagnosis</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="static/particle.js" defer></script>
  </head>
  <body>
    <div
      id="particles-js"
      style="position: absolute; width: 100%; height: 100%"
    ></div>
    <div class="content" style="position: relative; z-index: 1">
      <h1>K-Nearest Neighbors (KNN)</h1>
      <h3>
        K-Nearest Neighbors (KNN) is a straightforward and versatile machine
        learning algorithm used for classification and regression tasks. The
        core idea behind KNN is to predict the class of a data point by looking
        at the 'k' nearest neighbors in the feature space. For classification
        tasks, KNN assigns the class that is most common among its k nearest
        neighbors. The distance metric, such as Euclidean distance, determines
        the proximity of neighbors. For regression tasks, KNN predicts the value
        of a data point by averaging the values of its k nearest neighbors. KNN
        is non-parametric, meaning it doesn't make assumptions about the
        underlying data distribution, making it suitable for complex patterns.
        However, its performance heavily relies on choosing the right value of k
        and an appropriate distance measure. Larger values of k smooth out
        decision boundaries but may lead to underfitting, while smaller values
        of k can result in overfitting to noise. While KNN is simple to
        understand and implement, its main drawbacks include its computational
        inefficiency with large datasets since it requires calculating distances
        to all training samples. Additionally, it doesn't explicitly learn a
        model during training, which can limit its ability to generalize to
        unseen data compared to more complex models. Nonetheless, KNN remains a
        valuable tool in various domains, including recommendation systems,
        image recognition, and anomaly detection.
      </h3>
      <a href="{{ url_for('diagnosis', model_name='knn') }}"
        >Diagnose Your Health</a
      >
    </div>
  </body>
</html>
